/*-------------------------*\
    #TYPOGRAPHY
\*-------------------------*/

@mixin font-xxxxl {
  font-size: clamp(2.4881rem, 2.2181rem + 1.35vw, 3.4331rem);
  line-height: 1.2;
}
@mixin font-xxxl {
  font-size: clamp(2.0738rem, 1.8814rem + 0.9616vw, 2.7469rem);
  line-height: 1.2;
}
@mixin font-xxl {
  font-size: clamp(1.7281rem, 1.594rem + 0.6705vw, 2.1975rem);
  line-height: 1.3;
}
@mixin font-xl {
  font-size: clamp(1.44rem, 1.3491rem + 0.4545vw, 1.7581rem);
  line-height: 1.35;
}
@mixin font-large {
  font-size: clamp(1.44rem, 1.3491rem + 0.4545vw, 1.7581rem);
  line-height: 1.45;
}
@mixin font-medium {
  font-size: clamp(1.2rem, 1.1411rem + 0.2946vw, 1.4063rem);
}
@mixin font-regular {
  font-size: clamp(1rem, 0.9643rem + 0.1786vw, 1.125rem);
}
@mixin font-small {
  font-size: clamp(0.8331rem, 0.814rem + 0.0955vw, 0.9rem);
}
@mixin font-xs {
  font-size: clamp(0.6944rem, 0.6871rem + 0.0366vw, 0.72rem);
}

/*-------------------------*\
    #PATTERNS
\*-------------------------*/

@mixin rounded-plus-connected {
  background-color: #4b3009;
  background-image: url("data:image/svg+xml,%3Csvg width='84' height='84' viewBox='0 0 84 84' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%2330220e' fill-opacity='1'%3E%3Cpath d='M84 23c-4.417 0-8-3.584-8-7.998V8h-7.002C64.58 8 61 4.42 61 0H23c0 4.417-3.584 8-7.998 8H8v7.002C8 19.42 4.42 23 0 23v38c4.417 0 8 3.584 8 7.998V76h7.002C19.42 76 23 79.58 23 84h38c0-4.417 3.584-8 7.998-8H76v-7.002C76 64.58 79.58 61 84 61V23zM59.05 83H43V66.95c5.054-.5 9-4.764 9-9.948V52h5.002c5.18 0 9.446-3.947 9.95-9H83v16.05c-5.054.5-9 4.764-9 9.948V74h-5.002c-5.18 0-9.446 3.947-9.95 9zm-34.1 0H41V66.95c-5.053-.502-9-4.768-9-9.948V52h-5.002c-5.184 0-9.447-3.946-9.95-9H1v16.05c5.053.502 9 4.768 9 9.948V74h5.002c5.184 0 9.447 3.946 9.95 9zm0-82H41v16.05c-5.054.5-9 4.764-9 9.948V32h-5.002c-5.18 0-9.446 3.947-9.95 9H1V24.95c5.054-.5 9-4.764 9-9.948V10h5.002c5.18 0 9.446-3.947 9.95-9zm34.1 0H43v16.05c5.053.502 9 4.768 9 9.948V32h5.002c5.184 0 9.447 3.946 9.95 9H83V24.95c-5.053-.502-9-4.768-9-9.948V10h-5.002c-5.184 0-9.447-3.946-9.95-9zM50 50v7.002C50 61.42 46.42 65 42 65c-4.417 0-8-3.584-8-7.998V50h-7.002C22.58 50 19 46.42 19 42c0-4.417 3.584-8 7.998-8H34v-7.002C34 22.58 37.58 19 42 19c4.417 0 8 3.584 8 7.998V34h7.002C61.42 34 65 37.58 65 42c0 4.417-3.584 8-7.998 8H50z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}