$font-header: normal 18px/1.5 'bigmoore', 'Red Hat Display', Helvetica Neue, Arial, sans-serif;
$font-body: normal 18px/1.5 'arboria', 'Red Hat Display', Helvetica Neue, Arial, sans-serif;
$font-cursive: 'santelia-rough-two', sans-serif;

$clr-primary: #4b3009;
$clr-secondary: #eecb99;
$clr-third: #1e5836;
$clr-white: #fff;
$clr-shade: #efefef;
$clr-text: #444;
$clr-dark: #010101;
$clr-danger: #dc143c;
$clr-success: #348e31;

$bold-weight: bold;
$border-radius: 6px;
$gutter: clamp(1.5rem, 4.44vw, 3.5rem);
$gutter-half: clamp(0.75rem, 4.44vw, 1.75rem);
$gutter-large: clamp(3rem, 4.44vw, 5rem);